@use "@angular/material" as mat;

$custom-primary: mat.m2-define-palette(mat.$m2-pink-palette, 700, 500, 900);
$custom-accent: mat.m2-define-palette(mat.$m2-blue-grey-palette, A200, A100, A400);

$custom-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
  )
);

.custom-theme {
  @include mat.button-color($custom-theme);
  @include mat.progress-spinner-color($custom-theme);
}