// _alert-theme.scss

@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $type: mat.get-theme-type($theme);
  $is-dark-theme: $type == dark;
  $exportBackgroundOpacity: if($is-dark-theme, 0.12, 0.06);

  .alert {
    color: mat.get-theme-color(
      $theme,
      primary,
      if($is-dark-theme, 50, default)
    );
    background: rgba(
      mat.get-theme-color($theme, primary, 300),
      $exportBackgroundOpacity
    );
    border-color: mat.get-theme-color($theme, primary, 100);

    .alert-link {
      color: mat.get-theme-color($theme, primary, if($is-dark-theme, 200, 500));
    }
  }
}

@mixin typography($theme) {
  .alert {
    font: mat.get-theme-typography($theme, body-1);
    letter-spacing: mat.get-theme-typography($theme, body-1, letter-spacing);

    .alert-heading {
      font: mat.get-theme-typography($theme, "headline-6");
    }
    .alert-footer {
      font: mat.get-theme-typography($theme, "caption");
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
}
