@use "@angular/material" as mat;

$regular-font-family: "'Inter', sans-serif";

$sm-typography: mat.define-typography-config(
  $font-family: $regular-font-family,
  $button:
    mat.define-typography-level(
      $font-size: 14px,
    ),
);

$sm-theme: mat.define-light-theme(
  (
    typography: $sm-typography,
    density: -2,
  )
);

.sm {
  @include mat.button-density($sm-theme);
  @include mat.button-typography($sm-theme);
  @include mat.progress-spinner-density($sm-theme);
  @include mat.progress-spinner-typography($sm-theme);
}
