// src/styles/typography/_config.scss
@use '@angular/material' as mat;

$heading-font-family: "'Poppins', sans-serif";
$regular-font-family: "'Inter', sans-serif";

$my-app-typography: mat.m2-define-typography-config(
  $font-family: $regular-font-family,
  $headline-1: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 112px),
  $headline-2: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 56px),
  $headline-3: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 45px, $line-height: 48px),
  $headline-4: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 34px, $line-height: 40px),
  $headline-5: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 24px, $line-height: 32px),
  $headline-6: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 20px, $line-height: 32px),
  $subtitle-1: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 18px, $line-height: 28px),
  $subtitle-2: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 18px, $line-height: 24px),
  $body-2: mat.m2-define-typography-level($font-size: 16px),
  $body-1: mat.m2-define-typography-level($font-size: 16px),
  $button: mat.m2-define-typography-level($font-size: 16px),
);