// styles.scss

@use "@angular/material" as mat;
@use "./styles/themes/all" as themes;
@use "./styles/typography/config";

@include mat.core();

@include mat.typography-hierarchy(config.$my-app-typography);
@include mat.core-theme(themes.$my-app-light-theme);
@include mat.button-theme(themes.$my-app-light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.core-color(themes.$my-app-dark-theme);
  @include mat.button-color(themes.$my-app-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
